main {
  /* margin: 3rem auto;
  max-width: 90vw;
  width: 50ch; */
}

ul {
  margin: 3rem auto;
  font-size: 1.75rem;
}

ul li {
  margin: 1.2rem 0;
}

#bingo-form #hide {
  width: 30px;
}

#bingo-form label {
  line-height: 52px;
}

.grid-container {
  background: #eee;
  /* height: 100px; */
  border-style: solid;
  display: grid;
  padding: 10px;
  grid-gap: 10px;
}

table,
th,
td {
  border: 1px solid black;
  min-width: fit-content;
  height: 200px;
  text-align: center;
}
.free {
  background-color: aquamarine;
}

td:active {
  background-color: red;
}

.checked {
  background-color: red;
}
